# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# VS Code workspace settings
.vscode/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Pytest
.pytest_cache/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Environment files
.env

# Secrets
*.pem
*.key
